pandas~=1.4.3
pytest~=7.1.2
config~=0.5.1
elasticsearch==8.3.3
pydantic==1.9.2
tenacity~=8.0.1
zmq~=0.0.0
pyzmq~=22.3.0
cachetools~=5.2.0
numpy~=1.23.2
nltk~=3.7
sqlalchemy~=1.4.40
setuptools~=65.0.0
ujson~=5.4.0
kafka-python~=2.0.2
dacite~=1.6.0
onnxruntime~=1.12.1
psycopg2-binary~=2.9.3
gitpython~=3.1.27
pytest-cov~=3.0.0